.card{
    
    // width: 78%!important;
    // margin-left: 20%!important;
    
    // align-items: center;
    border: none;
}
.block-title{
// text-align: center;
color: #000;
font-family: lato;
font-size: 50px;
}
.block-body{
color: #000;
font-family: lato;
font-size: 20px;
padding: 2px 24px;
}